.App {
  text-align: center;
  background-color: #f0e9ef;
  height: 1000px;
  padding: 40px;
}

.button {
  background-color: #f7bef5;
  border: solid;
  border-width: 1px;
  border-radius: 8px;
  color: black;
  font-size: 16px;
  height: 40px;
  width: 200px;
  margin-top: 20px;
  text-align: center;
}

.button:hover {
  background-color: #45a049;
}

.form_container {
  text-align: center;
  margin-top: 180px;
  font-size: 18px;
}

.nameBox {
  border-radius: 4px;
  height: 30px;
  margin : 0 auto;
  padding: 8px;
  font-size: 14px;
  display: block;
  box-sizing: border-box;
  text-align: center;
}

.userDetails {
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.favouriteLanguage {
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}